/* 添加背景图片 */
body {
    background-image: url(../image/one-background-table.jpg);
}

/* 清除版心 */
.Navbar .container{
   margin: 0;
}

.Navbar .ah-tab-wrapper .ah-tab{
    width: 1903px;
    height: 60px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

.ah-tab-content-wrapper{
    width: 1903px;
    height: 60px;
}

.ah-tab-wrapper .ah-tab {
    height: 60px;
    position: relative;
}

.ah-tab-wrapper .ah-tab .ah-tab-item {
    margin-right: 46px;
}



.ah-tab-wrapper .ah-tab .left {
    position: absolute;
    left: 189px;
    top: 12px;
}

.ah-tab-wrapper .ah-tab .middle{
    display: inline-block;
    height: 60px;
    width: 400px;
    margin-right: 860px;
    margin-left: 300px;
    padding-top: 19px;
    /* border: 1px solid white;
} 





